.part2{
  padding-left: 150px;
}
#textcoloana{
  text-align: justify;
}
.carousel-item .main-slider{
	object-fit: cover;
	height: 37rem;
}

.carousel-item .mini-slider{
	object-fit: cover;
	height: 30rem;
}


.buton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
